.tube{
    /* Positionner au centre de la page */
    position: absolute;
    top: 50%; left: 50%;
    translate: -50% -50%;
    /* Le set up */
    height: 300px;
    /* ça c'est pour la 3D */
    transform-style: preserve-3d;
    transform: rotateX(-60deg) rotateZ(-30deg);

    --radius: 100px;
    --n: 100;
    --length: calc(var(--radius) * 2 * tan(180deg / var(--n)));
    --angle: calc(360deg / var(--n));

    -webkit-animation: tube 5s linear infinite;
}

@-webkit-keyframes tube{
  to { transform: rotateX(-60deg) rotateZ(330deg) rotateY(360deg); }
}

.tube_face{
    position: absolute;
    height: 100%; width: var(--length);
    background-color: #E2AFFF;
    filter: hue-rotate(calc(var(--angle) * var(--i)));
    transform: translateX(-50%) rotateY(calc(var(--angle) * var(--i))) translateZ(var(--radius));
}